# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [9]:
import pandas as pd

In [10]:
# Your code goes here

url1 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
url2 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv'
url3 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv'

data1 = pd.read_csv(url1)
data2 = pd.read_csv(url2)
data3 = pd.read_csv(url3)

In [11]:
def clean_data(df):
    # Standardize column names (make lowercase and replace spaces with underscores)
    df.columns = df.columns.str.lower().str.replace(' ', '_')
    
    # Drop duplicates
    df.drop_duplicates(inplace=True)
    
    # Remove any rows with null values (if applicable)
    df.dropna(inplace=True)
    
    # Example transformation: Strip whitespace from string columns
    str_columns = df.select_dtypes(include=['object']).columns
    df[str_columns] = df[str_columns].apply(lambda x: x.str.strip())
    
    return df

In [12]:
data1_cleaned = clean_data(data1)
data2_cleaned = clean_data(data2)
data3_cleaned = clean_data(data3)

In [13]:
combined_data = pd.concat([data1_cleaned, data2_cleaned, data3_cleaned], ignore_index=True)

In [14]:
print(combined_data.info())
print(combined_data.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9010 entries, 0 to 9009
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   9010 non-null   object
 1   st                         1940 non-null   object
 2   gender                     9010 non-null   object
 3   education                  9010 non-null   object
 4   customer_lifetime_value    9010 non-null   object
 5   income                     9010 non-null   float64
 6   monthly_premium_auto       9010 non-null   float64
 7   number_of_open_complaints  9010 non-null   object
 8   policy_type                9010 non-null   object
 9   vehicle_class              9010 non-null   object
 10  total_claim_amount         9010 non-null   float64
 11  state                      7070 non-null   object
dtypes: float64(3), object(9)
memory usage: 844.8+ KB
None
  customer          st gender             education customer_lifetime_value  \
0  QZ44356     Arizona      F              Bachelor              697953.59%
1  AI49188      Nevada      F              Bachelor             1288743.17%
2  WW63253  California      M              Bachelor              764586.18%
3  GA49547  Washington      M  High School or Below              536307.65%
4  OC83172      Oregon      F              Bachelor              825629.78%

    income  monthly_premium_auto number_of_open_complaints     policy_type  \
0      0.0                  94.0                    1/0/00   Personal Auto
1  48767.0                 108.0                    1/0/00   Personal Auto
2      0.0                 106.0                    1/0/00  Corporate Auto
3  36357.0                  68.0                    1/0/00   Personal Auto
4  62902.0                  69.0                    1/0/00   Personal Auto

   vehicle_class  total_claim_amount state
0  Four-Door Car         1131.464935   NaN
1   Two-Door Car          566.472247   NaN
2            SUV          529.881344   NaN
3  Four-Door Car           17.269323   NaN
4   Two-Door Car          159.383042   NaN

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [17]:
# Your code goes here
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv'
data = pd.read_csv(url)

In [18]:
print("First 5 rows of the dataset:")
print(data.head())  # Display the first 5 rows
print("\nDataFrame info:")
print(data.info())  # Display info about the DataFrame
print("\nStatistical summary:")
print(data.describe(include='all'))  # Display statistical summary for all columns

First 5 rows of the dataset:
   unnamed:_0 customer       state  customer_lifetime_value response  \
0           0  DK49336     Arizona              4809.216960       No
1           1  KX64629  California              2228.525238       No
2           2  LZ68649  Washington             14947.917300       No
3           3  XL78013      Oregon             22332.439460      Yes
4           4  QA50777      Oregon              9025.067525       No

   coverage education effective_to_date employmentstatus gender  ...  \
0     Basic   College        2011-02-18         Employed      M  ...
1     Basic   College        2011-01-18       Unemployed      F  ...
2     Basic  Bachelor        2011-02-10         Employed      M  ...
3  Extended   College        2011-01-11         Employed      M  ...
4   Premium  Bachelor        2011-01-17    Medical Leave      F  ...

   number_of_policies     policy_type        policy  renew_offer_type  \
0                   9  Corporate Auto  Corporate L3            Offer3
1                   1   Personal Auto   Personal L3            Offer4
2                   2   Personal Auto   Personal L3            Offer3
3                   2  Corporate Auto  Corporate L3            Offer2
4                   7   Personal Auto   Personal L2            Offer1

   sales_channel  total_claim_amount  vehicle_class  vehicle_size  \
0          Agent          292.800000  Four-Door Car       Medsize
1    Call Center          744.924331  Four-Door Car       Medsize
2    Call Center          480.000000            SUV       Medsize
3         Branch          484.013411  Four-Door Car       Medsize
4         Branch          707.925645  Four-Door Car       Medsize

  vehicle_type month
0            A     2
1            A     1
2            A     2
3            A     1
4            A     1

[5 rows x 27 columns]

DataFrame info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   unnamed:_0                     10910 non-null  int64
 1   customer                       10910 non-null  object
 2   state                          10910 non-null  object
 3   customer_lifetime_value        10910 non-null  float64
 4   response                       10910 non-null  object
 5   coverage                       10910 non-null  object
 6   education                      10910 non-null  object
 7   effective_to_date              10910 non-null  object
 8   employmentstatus               10910 non-null  object
 9   gender                         10910 non-null  object
 10  income                         10910 non-null  int64
 11  location_code                  10910 non-null  object
 12  marital_status                 10910 non-null  object
 13  monthly_premium_auto           10910 non-null  int64
 14  months_since_last_claim        10910 non-null  float64
 15  months_since_policy_inception  10910 non-null  int64
 16  number_of_open_complaints      10910 non-null  float64
 17  number_of_policies             10910 non-null  int64
 18  policy_type                    10910 non-null  object
 19  policy                         10910 non-null  object
 20  renew_offer_type               10910 non-null  object
 21  sales_channel                  10910 non-null  object
 22  total_claim_amount             10910 non-null  float64
 23  vehicle_class                  10910 non-null  object
 24  vehicle_size                   10910 non-null  object
 25  vehicle_type                   10910 non-null  object
 26  month                          10910 non-null  int64
dtypes: float64(4), int64(6), object(17)
memory usage: 2.2+ MB
None

Statistical summary:
          unnamed:_0 customer       state  customer_lifetime_value response  \
count   10910.000000    10910       10910             10910.000000    10910
unique           NaN     9134           5                      NaN        2
top              NaN  ID89933  California                      NaN       No
freq             NaN        7        4183                      NaN     9444
mean     5454.500000      NaN         NaN              8018.241094      NaN
std      3149.590053      NaN         NaN              6885.081434      NaN
min         0.000000      NaN         NaN              1898.007675      NaN
25%      2727.250000      NaN         NaN              4014.453113      NaN
50%      5454.500000      NaN         NaN              5771.147235      NaN
75%      8181.750000      NaN         NaN              8992.779137      NaN
max     10909.000000      NaN         NaN             83325.381190      NaN

       coverage education effective_to_date employmentstatus gender  ...  \
count     10910     10910             10910            10910  10910  ...
unique        3         5                59                5      2  ...
top       Basic  Bachelor        2011-01-27         Employed      F  ...
freq       6660      3272               239             6789   5573  ...
mean        NaN       NaN               NaN              NaN    NaN  ...
std         NaN       NaN               NaN              NaN    NaN  ...
min         NaN       NaN               NaN              NaN    NaN  ...
25%         NaN       NaN               NaN              NaN    NaN  ...
50%         NaN       NaN               NaN              NaN    NaN  ...
75%         NaN       NaN               NaN              NaN    NaN  ...
max         NaN       NaN               NaN              NaN    NaN  ...

        number_of_policies    policy_type       policy  renew_offer_type  \
count         10910.000000          10910        10910             10910
unique                 NaN              3            9                 4
top                    NaN  Personal Auto  Personal L3            Offer1
freq                   NaN           8128         4118              4483
mean              2.979193            NaN          NaN               NaN
std               2.399359            NaN          NaN               NaN
min               1.000000            NaN          NaN               NaN
25%               1.000000            NaN          NaN               NaN
50%               2.000000            NaN          NaN               NaN
75%               4.000000            NaN          NaN               NaN
max               9.000000            NaN          NaN               NaN

        sales_channel  total_claim_amount  vehicle_class  vehicle_size  \
count           10910        10910.000000          10910         10910
unique              4                 NaN              6             3
top             Agent                 NaN  Four-Door Car       Medsize
freq             4121                 NaN           5834          7873
mean              NaN          434.888330            NaN           NaN
std               NaN          292.180556            NaN           NaN
min               NaN            0.099007            NaN           NaN
25%               NaN          271.082527            NaN           NaN
50%               NaN          382.564630            NaN           NaN
75%               NaN          547.200000            NaN           NaN
max               NaN         2893.239678            NaN           NaN

       vehicle_type         month
count         10910  10910.000000
unique            1           NaN
top               A           NaN
freq          10910           NaN
mean            NaN      1.466728
std             NaN      0.498915
min             NaN      1.000000
25%             NaN      1.000000
50%             NaN      1.000000
75%             NaN      2.000000
max             NaN      2.000000

[11 rows x 27 columns]

In [19]:
duplicates = data.duplicated().sum()
print(f"\nNumber of duplicate rows: {duplicates}")

Number of duplicate rows: 0

In [20]:
if duplicates > 0:
    data.drop_duplicates(inplace=True)

In [21]:
missing_values = data.isnull().sum()
print("\nMissing values in each column:")
print(missing_values[missing_values > 0])

Missing values in each column:
Series([], dtype: int64)

In [22]:
data.dropna(inplace=True)

In [23]:
if 'policy_start_date' in data.columns:
    data['policy_start_date'] = pd.to_datetime(data['policy_start_date'], errors='coerce')

In [24]:
categorical_columns = data.select_dtypes(include=['object']).columns
data[categorical_columns] = data[categorical_columns].astype('category')

In [25]:
data.columns = data.columns.str.lower().str.replace(' ', '_')

In [26]:
print("\nFinal DataFrame info:")
print(data.info())
print("\nFirst 5 rows of the cleaned and structured dataset:")
print(data.head())

Final DataFrame info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   unnamed:_0                     10910 non-null  int64
 1   customer                       10910 non-null  category
 2   state                          10910 non-null  category
 3   customer_lifetime_value        10910 non-null  float64
 4   response                       10910 non-null  category
 5   coverage                       10910 non-null  category
 6   education                      10910 non-null  category
 7   effective_to_date              10910 non-null  category
 8   employmentstatus               10910 non-null  category
 9   gender                         10910 non-null  category
 10  income                         10910 non-null  int64
 11  location_code                  10910 non-null  category
 12  marital_status                 10910 non-null  category
 13  monthly_premium_auto           10910 non-null  int64
 14  months_since_last_claim        10910 non-null  float64
 15  months_since_policy_inception  10910 non-null  int64
 16  number_of_open_complaints      10910 non-null  float64
 17  number_of_policies             10910 non-null  int64
 18  policy_type                    10910 non-null  category
 19  policy                         10910 non-null  category
 20  renew_offer_type               10910 non-null  category
 21  sales_channel                  10910 non-null  category
 22  total_claim_amount             10910 non-null  float64
 23  vehicle_class                  10910 non-null  category
 24  vehicle_size                   10910 non-null  category
 25  vehicle_type                   10910 non-null  category
 26  month                          10910 non-null  int64
dtypes: category(17), float64(4), int64(6)
memory usage: 1.3 MB
None

First 5 rows of the cleaned and structured dataset:
   unnamed:_0 customer       state  customer_lifetime_value response  \
0           0  DK49336     Arizona              4809.216960       No
1           1  KX64629  California              2228.525238       No
2           2  LZ68649  Washington             14947.917300       No
3           3  XL78013      Oregon             22332.439460      Yes
4           4  QA50777      Oregon              9025.067525       No

   coverage education effective_to_date employmentstatus gender  ...  \
0     Basic   College        2011-02-18         Employed      M  ...
1     Basic   College        2011-01-18       Unemployed      F  ...
2     Basic  Bachelor        2011-02-10         Employed      M  ...
3  Extended   College        2011-01-11         Employed      M  ...
4   Premium  Bachelor        2011-01-17    Medical Leave      F  ...

   number_of_policies     policy_type        policy  renew_offer_type  \
0                   9  Corporate Auto  Corporate L3            Offer3
1                   1   Personal Auto   Personal L3            Offer4
2                   2   Personal Auto   Personal L3            Offer3
3                   2  Corporate Auto  Corporate L3            Offer2
4                   7   Personal Auto   Personal L2            Offer1

   sales_channel  total_claim_amount  vehicle_class  vehicle_size  \
0          Agent          292.800000  Four-Door Car       Medsize
1    Call Center          744.924331  Four-Door Car       Medsize
2    Call Center          480.000000            SUV       Medsize
3         Branch          484.013411  Four-Door Car       Medsize
4         Branch          707.925645  Four-Door Car       Medsize

  vehicle_type month
0            A     2
1            A     1
2            A     2
3            A     1
4            A     1

[5 rows x 27 columns]

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [38]:
import pandas as pd

url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv'
data = pd.read_csv(url)

In [39]:
total_revenue_by_channel = data.pivot_table(
    index='sales_channel', 
    values='monthly_premium_auto',  # Using the monthly premium as total revenue
    aggfunc='sum'
).round(2)

In [40]:
print("Total Revenue by Sales Channel:")
print(total_revenue_by_channel)

Total Revenue by Sales Channel:
               monthly_premium_auto
sales_channel
Agent                        386335
Branch                       280953
Call Center                  197970
Web                          151511

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [36]:
import pandas as pd

url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv'
data = pd.read_csv(url)


print("Columns in the DataFrame:")
print(data.columns.tolist())

Columns in the DataFrame:
['unnamed:_0', 'customer', 'state', 'customer_lifetime_value', 'response', 'coverage', 'education', 'effective_to_date', 'employmentstatus', 'gender', 'income', 'location_code', 'marital_status', 'monthly_premium_auto', 'months_since_last_claim', 'months_since_policy_inception', 'number_of_open_complaints', 'number_of_policies', 'policy_type', 'policy', 'renew_offer_type', 'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size', 'vehicle_type', 'month']

In [37]:
total_revenue_by_channel = data.pivot_table(
    index='sales_channel', 
    values='monthly_premium_auto',  
    aggfunc='sum'
).round(2)


print("Total Revenue by Sales Channel:")
print(total_revenue_by_channel)

Total Revenue by Sales Channel:
               monthly_premium_auto
sales_channel
Agent                        386335
Branch                       280953
Call Center                  197970
Web                          151511

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [29]:
# Your code goes here

url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv'
data = pd.read_csv(url)

In [31]:
print("Columns in the DataFrame:")
print(data.columns.tolist())

Columns in the DataFrame:
['unnamed:_0', 'customer', 'state', 'customer_lifetime_value', 'response', 'coverage', 'education', 'effective_to_date', 'employmentstatus', 'gender', 'income', 'location_code', 'marital_status', 'monthly_premium_auto', 'months_since_last_claim', 'months_since_policy_inception', 'number_of_open_complaints', 'number_of_policies', 'policy_type', 'policy', 'renew_offer_type', 'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size', 'vehicle_type', 'month']

In [32]:
complaints_summary = data.groupby(['policy_type', 'month']).agg({'number_of_open_complaints': 'sum'}).reset_index()

In [34]:
print("Number of Complaints by Policy Type and Month:")
print(complaints_summary)

Number of Complaints by Policy Type and Month:
      policy_type  month  number_of_open_complaints
0  Corporate Auto      1                 443.434952
1  Corporate Auto      2                 385.208135
2   Personal Auto      1                1727.605722
3   Personal Auto      2                1453.684441
4    Special Auto      1                  87.074049
5    Special Auto      2                  95.226817